@font-face {
  font-family:GmarketSansBold;
  src:url('/public/assets/fonts/GmarketSansBold.otf');
}

@font-face {
  font-family:GmarketSansLight;
  src:url('/public/assets/fonts/GmarketSansLight.otf');
}
@font-face {
  font-family:GmarketSansMedium;
  src:url('/public/assets/fonts/GmarketSansMedium.otf');
}

html.popup-frame{

    font-family: GmarketSansMedium, serif;
    box-sizing: border-box;
    width:700px;
    height: 600px;

}

.popup{

}